.btn-primary, .btn-trans, .btn-trans-white{
    display: inline-block;
    border: 0;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    padding: 0.9em 2em;
    border: 1px solid $primary;
    transition: all 0.4s ease;
    
    &:hover{
        transition: all 0.4s ease;
    }
}


.btn-primary{
    background-color: $primary;
    color: white;
    
    &:hover{
        transition: all 0.4s ease;
        background-color: $accent !important;
        border-color: $accent !important;
        color: white;
    }
}

.btn-trans{
    color: $primary;
    
    &:hover{
        color: white;
        border-color: $accent;
        background-color: $accent;
        
        &.icon{
            &:after{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        position: relative;
        
        &:after{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 100;
            content: "";
            height: 1.5em;
            width: 3em;
            background-image: url('../images/icons/arrow_primary.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}

.btn-trans-white{
    color: white;
    border-color: white;
    
    &:hover{
        transition: all 0.4s ease;
        color: black;
        border-color: white;
        background-color: white;
        
        &.icon{
            &:after{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        position: relative;
        
        &:after{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 100;
            content: "";
            height: 1.5em;
            width: 3em;
            background-image: url('../images/icons/arrow.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}

.cta-link{
    display: inline-flex;
    align-items: center;
    line-height: 1em;
    
    img{
        width: 0.75em;
        margin-left: 10px;
        margin-top: -0.2em;
        transition: 0.3s ease all;
    }
    
    &:hover{
        img{
            transform: translateX(50%);
            transition: 0.3s ease all;
        }
    }
}

















.btn-trans-green{
    border: 1px solid $green;
    background-color: white;
    color: $green;

    &:hover{
        transition: all 0.4s ease;
        background-color: $green;
        color: white;
    }
}

.btn-trans-blue{
    border: 0.5px solid $blue;
    background-color: rgba(0,0,0,0);
    color: $blue;

    &:hover{
        transition: all 0.4s ease;
        background-color: $blue;
        border-color: $blue;
        color: white;
    }
}




.btn-trans-wb{
    border: 0.5px solid white;
    background-color: rgba(0,0,0,0);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: white;
        color: black;
    }
}

.btn-trans-bw{
    border: 0.5px solid black;
    background-color: rgba(0,0,0,0);
    color: black;

    &:hover{
        transition: all 0.4s ease;
        background-color: $secondary;
        color: White;
        border-color: $secondary;
    }
}

.btn-trans-wb.icon{
    padding-left: 50px;
    position: relative;
    
    &:after {
        content: "\f061";
        position: absolute;
        width: 2.4em;
        height: 2.4em;
        background-color: white;
        color: black;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%) rotate(-45deg);
        font-size: 0.8em;
        font-family: FontAwesome; 
        padding: 0.5em 0.1em;
        transition: all 0.3s ease;
    }

    &:hover{
        &:after {
            background-color: black;
            color: white;
            transition: all 0.3s ease;
        }
    }
}

.btn-trans-wb-icon{
    padding-left: 50px;
    position: relative;
    
    border: 0.5px solid white;
    background-color: rgba(0,0,0,0);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: white;
        color: black;
    }
    
    i{
        content: "";
        position: absolute;
        width: 2.4em;
        height: 2.4em;
        background-color: white;
        color: black;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 0.8em;
        padding: 0.7em 0.1em 0.4em;
        transition: all 0.3s ease;
    }

    &:hover{
        i{
            background-color: black;
            color: white;
            transition: all 0.3s ease;
        }
    }
}

.btn-trans-gg{
    border: 0.5px solid $green;
    background-color: rgba(0,0,0,0);
    color: $green;

    &:hover{
        transition: all 0.4s ease;
        background-color: $green;
        color: white;
    }
}

.btn-contact{
    border: 0;
    outline: 0;
    background-color: $bg_orange;
    color: white;
    font-size: 1.3em;
    padding: 8px 30px;
    transition: all 0.4s ease;
    
    &:hover{
        transition: all 0.4s ease;
        color: white;
        background-color: $bg_orange_dark;
    }
}






.btn-wrapper > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-main{
    background-color: $primary;
    border: 0;
    outline: 0;
    border-radius: 0;
    border-radius: 2em;
    font-weight: 400;
    color: white;
    padding: 0.8em 2em;
    border-radius: 0.5em 0 0.5em 0;
    cursor: pointer;
    transition: all 0.4s ease;
    
    &:hover{
        color: white;
        background-color: $secondary;
        transition: all 0.4s ease;
    }
}

.btn-alt{
    display: inline-block;
    background-color: $secondary;
    font-weight: 500;
    color: white;
    padding: 0.8em 2em;
    border-radius: 0.5em 0 0.5em 0;
    transition: all 0.4s ease;
    
    &:hover{
        color: white;
        background: $primary;
        transition: all 0.4s ease;
    }
}

.section-btn{
    display: block;
    letter-spacing: 0.2em;
    color: $secondary;
    transition: all 0.4s ease;
    
    &:hover{
        letter-spacing: 0em;
        color: $secondary;
        background: white;
        transition: all 0.4s ease;
    }
}






/* New */
.button{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    padding: 1em 2em;
    border: 0;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.4s ease;
    
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        transition: all 0.4s ease;
    }
}

.button-primary{
    color: white;
    background-color: $primary;
        
    &:hover{
        color: white;
        background-color: #034596;
        
        &.icon{
            &:after{
                transform: translateX(20%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        display: inline-flex;
        align-items: center;
        
        &:after{
            content: "";
            position: relative;
            transform: translateY(0);
            height: 1.2em;
            width: 2.4em;
            margin-left: 1em;
            background-image: url('../images/icons/arrow_white.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}

.button-secondary{
    background-color: $secondary;
    color: white;
    
    &:hover{
        color: white;
        background-color: #88AAD3;
    }
}

.button-white{
    color: $primary;
    background-color: white;
        
    &:hover{
        color: $primary;
        background-color: #E5E5E5;
        
        &.icon{
            &:after{
                transform: translateX(20%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        display: inline-flex;
        align-items: center;
        
        &:after{
            content: "";
            position: relative;
            transform: translateY(0);
            height: 1.2em;
            width: 2.4em;
            margin-left: 1em;
            background-image: url('../images/icons/arrow_primary.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}

.button-tertiary{
    color: $primary;
    border-color: $primary;
    background-color: transparent;
    box-shadow: none;
        
    &:hover{
        color: white;
        background-color: $primary;
        
        &.icon{
            &:after{
                transform: translateX(20%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        display: inline-flex;
        align-items: center;
        
        &:after{
            content: "";
            position: relative;
            transform: translateY(0);
            height: 1.2em;
            width: 2.4em;
            margin-left: 1em;
            background-image: url('../images/icons/arrow_primary.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}