.card_section{
	overflow: hidden;
}

.box{
    display: block;
    overflow: hidden;
}

.cards_1{
    >.card_wrapper{
        width: 100%;
    }
}

.cards_2{
    >.card_wrapper{
        width: 100%;
        
        @include MQ(M){
            width: calc(100%/2);
        }
    }
}

.cards_3{
    >.card_wrapper{
        width: 100%;
    
        @include MQ(M){
            width: auto;
            margin-right: 10px;
        }
    }
}

.cards_4{
    >.card_wrapper{
        width: calc(100%/2);
        
        @include MQ(M){
            width: calc(100%/4);
        }
    }
}

.card_wrapper {
	box-sizing: border-box;
	display: flex;
	float: left;
    
    img{
            max-width: 100%;
        }

	.card{
		background: white;
        //border: 1px solid $border_light;
		margin: 4px;
        
        transition: all 1s ease;
	}
    
    .card:hover{
        transition: all 1s ease;
        box-shadow: 0 5px 7.5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.2);
        
        @include MQ(M){
            box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2);
        }
	}
}


/*
*
*Flex Boxes BEGIN
*
*/

.card_section_flex{
	padding: 0 4px;
    display: flex;
}

.card_wrapper_flex {
	box-sizing: border-box;
	display: block;
	float: left;

	.card_flex{
		background: white;
		margin: 6px;
	}
}

.dir_column{
    flex-direction: column;
}

.dir_row{
    flex-direction: row;
}

.flex_center{
    justify-content: center;
    margin: auto;
}

.flex_vert_center{
    display: flex;
    align-items: center;
}

.flex_vert_end{
    display: flex;
    align-items: flex-end;
}

.flex_start{
    justify-content: flex-start;
}

.flex_end{
    justify-content: flex-end;
}

.flex_1{
    flex: 1;
}

.flex_2{
    flex: 2;
}

.flex_3{
    flex: 3;
}

.flex_4{
    flex: 4;
}

.flex_5{
    flex: 5;
}

.flex_10{
    flex: 10;
}

/*
*
*Flex Boxes END
*
*/


//Trans-card
.trans-card{
    color: white;
    border: 1px solid white;
    padding: 40px;
    
    .title{
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 600;
        margin-bottom: 40px;
    }
    
    .cto {
        font-size: 0.9em;
        color: white;
        padding: 10px 25px;
        background-color: $bg_orange;
        
        &:hover{
            background-color: &bg_orange;
            border: 2px solid &bg_orange;
        }
    }
}


//Card Border
.borderd{
    border: 1px solid $bg-orange;
}
.borderd-right{
    border-right: 1px solid $border_light;
}
.borderd-left{
    border-left: 1px solid $border_light;
}
.borderd-bottom{
    border-bottom: 1px solid $bg_grey_dark;
}
.borderd-bottom-2{
    border-bottom: 2px solid $txt_light;
}
.borderd-top{
    border-top: 1px solid $border_light;
}

//Card Bootstrap
.card-wrapper{
    padding: 10px;
    
    .card{
        
    }
}

//
//Borders
.b-o-1{
    border-style: solid;
    border-width: 1px;
}

.b-u-1{
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.b-tb-1{
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.b-tb-4{
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.b-lr-1{
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
}

.b-t-1{
    border-style: solid;
    border-top-width: 1px;
}

.b-t-2{
    border-style: solid;
    border-top-width: 2px;
}

.b-t-4{
    border-style: solid;
    border-top-width: 4px;
}

.b-b-1{
    border-style: solid;
    border-bottom-width: 1px;
}

.b-b-2{
    border-style: solid;
    border-bottom-width: 2px;
}

.b-b-4{
    border-style: solid;
    border-bottom-width: 4px;
}

.b-r-1{
    border-style: solid;
    border-right-width: 1px;
}

.b-lg-r-1{
    @include MQ(L){
        border-style: solid;
        border-right-width: 1px;
    }
}



.b-l-1{
    border-style: solid;
    border-left-width: 1px;
}


.b-c-primary{
    border-color: $primary;
}

.b-c-secondary{
    border-color: $secondary;
}

.b-c-grey{
    border-color: $bg_grey;
}

.b-c-white{
    border-color: white;
}

.b-c-white-trans{
    border-color: rgba(255,255,255,0.3);
}

.b-c-darkgrey{
    border-color: $bg_grey_dark;
}

.b-c-black{
    border-color: black;
}

.b-c-ash{
    border-color: #BDBDBD;
}

//

b-0-1{
     border: 1px solid $bg-orange;
}

.flex-box{
    display: flex;
}


/* Packages Cards */
.home-package-card{
    background-color: white;
    padding: 30px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);  
    
    &.best-value{
        position: relative;
        overflow: hidden;
        border: 2px solid $accent;
        
        &:before{
            content: "Best Value";
            position: absolute;
            width: 100%;
            transform: rotate(-45deg) translate(-31%, -290%);
            
            display: block;
            font-size: 0.8em;
            text-align: center;
            color: white;
            background-color: $accent;
            padding: 1em;
        }
    }
    
    .title{
        font-weight: 900;
        text-align: center;
        color: black;
        margin-bottom: 40px;
    }
    
    .price{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-weight: 900;
        color: $accent;
        margin-bottom: 10px;
        
        .sign{
            font-size: 0.8em;
        }
        
        .amount{
            font-size: 1.5em;
        }
    }
    
    .price-old{
        font-weight: 600;
        text-align: center;
        text-decoration: line-through;
        color: #565661;
        margin-bottom: 40px;
    }
    
    .features{
        li{
            font-size: 0.9em;
            line-height: 1.2em;
            margin-bottom: 1.2em;
            display: flex;
            
            &:before{
                content: "";
                height: 1.8em;
                width: 1.8em;
                background-image: url('../images/icons/check_accent.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            
            &:last-child{
                margin: 0;
            }
            
            span{
                flex: 1;
                padding-left: 1em;
            }
        }
    }
}

.home-package-cta{
    display: block;
    text-align: center;
    color: white !important;
    padding: 20px;
    margin-top: 20px;
    
    &.primary{
        background-color: $primary;
    }
    
    &.secondary{
        background-color: $secondary;
    }
    
    &.accent{
        background-color: $accent;
    }
}


.outline-card{
    padding: 20px;
    border: 1px solid #E0E0E0;

    @include MQ(L){
        padding: 30px;
    }
}