.dashboard-container {
  padding: 15px;

  @include MQ(M) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.dashboard-card {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0 rgba(46, 61, 73, 0.3);
  padding: 15px;

  @include MQ(M) {
    padding: 20px;
  }
}

.dashboard-card-chart {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0 rgba(46, 61, 73, 0.3);

  @include MQ(M) {}
}

.dashboad-header-main {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1em;
  margin-bottom: 1.2em;

  @include MQ(M) {
    font-size: 1.8rem;
  }
}

/* Dashboard: END */





.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;

  @include MQ(L) {
    font-size: 3rem;
    margin-bottom: 0.8em;
  }

  &.no-m-b {
    margin-bottom: 0;
  }
}

.page-subtitle {
  font-weight: 300;
  line-height: 1.8em;
}

.page-cta {
  margin-top: 1em;

  @include MQ(L) {
    margin-top: 3em;
  }
}

.section-header {
  font-size: 1.4rem;
  line-height: 1.1em;
  text-align: center;

  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 2em;
    background-color: $secondary;
  }

  @include MQ(M) {
    font-size: 1.2rem;
    text-align: left;

    &:after {
      left: 0;
      transform: translateX(0);
    }
  }


}

.article-header {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.page-header-space {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  @include MQ(L) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-space {
  padding-top: 40px;
  padding-bottom: 40px;

  @include MQ(L) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &.lg {
    @include MQ(L) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}

.form-section-space {
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
  background-position: bottom !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.55);
  }

  @include MQ(L) {
    min-height: calc(100vh - 143px);
    padding-top: 90px;
    padding-bottom: 50px;
  }

  &.lg {
    @include MQ(L) {
      padding-top: 140px;
      padding-bottom: 70px;
    }
  }

  &.primary {
    background-color: $primary;
    min-height: 100vh;

    &:before {
      display: none;
    }
  }
}

.video-strip {
  background-color: black;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.9), 0px 6px 27px 0 rgba(0, 0, 0, 0.5);

  iframe {
    @include MQ(L) {
      width: 100%;
      height: 380px;
    }
  }
}

.table-header {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.table-row {
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
  }

  [class^="col-"] {
    margin-bottom: 15px;

    @include MQ(M) {
      margin-bottom: 0;
    }
  }

  .label {
    font-weight: 600;
    margin-bottom: 5px;

    @include MQ(M) {
      display: none;
    }
  }
}

.floating-card {
  padding: 60px 20px 0;
  background-color: white;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transform: translateY(-80px);

  @include MQ(M) {
    padding: 80px 80px 20px;
  }
}

.floating-updates {
  position: relative;
  transform: translateY(-80px);

  @include MQ(M) {}
}

.partner-icon {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.3s ease;

  &:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: all 0.3s ease;
  }
}