@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500,600,700,800,900&display=swap');

.font-main, body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
}

.font-accent {
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.currency{
    font-family: 'Roboto', sans-serif;
}