.main-footer{
    background-color: $primary;
    
    &.secondary{
        background-color: $secondary;
    }
    
    &.accent{
        background-color: $accent;
    }
    
    *, p{
        //color: white;
    }
    
    .content{
        padding: 40px 0 20px;
        
        @include MQ(M){
            padding: 40px 0 0;
        }

        .brand{

            margin-bottom: 1.5rem;

            .logo{
                width: 6em;

                @include MQ(M){
                    width: 5em;
                }
            }
        }

        .footer-title{
            //text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            color: white;
            margin-bottom: 1.5rem;

            @include MQ(M){
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }

        .footer-text{
            font-size: 0.85em;
            font-weight: 500;
            line-height: 1.7em;
            color: white;
            margin-bottom: 0.5em;
            
            a{
                color: white;
                transition: all 0.3s ease;
                
                &:hover{
                    opacity: 0.5;
                    transition: all 0.3s ease;
                }
            }
        }

        .contact-text{
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.7em;
            margin-bottom: 1.25rem;

            &:last-child{
                margin-bottom: 0;
            }
        }

    }
}


.social-media{
    overflow: hidden;
    font-size: 0.8em;
    color: white;
    
    li{
        display: inline-block;
        margin-right: 1em;
            
        &:last-child{
            margin-right: 0;
        }
        
        a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6em;
            color: white;
            border: 1px solid white;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            
            i{
                color: white !important;
                transition: all 0.3s ease;
            }
            
            &:hover{
                color: $primary !important;
                background-color: white;
                transition: all 0.3s ease;
                
                i{
                    color: $primary !important;
                    transition: all 0.3s ease;
                }
            }
        }
        

    }
}

.copyright{
    font-size: 0.8em;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.49);
    padding: 1rem 0;
    
    @include MQ(M){
        padding: 20px 0;  
    }
}

.footer-form{
    display: flex;
    align-items: center;
    
    input{
        outline: 0;
    }
    
    .email{
        flex: 1;
        font-size: 0.8em;
        color: white;
        padding: 0.8em 1em;
        background: transparent;
        border: 1px solid white;
        
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: rgba(255,255,255,0.7);
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: rgba(255,255,255,0.7);
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: rgba(255,255,255,0.7);
            }
    }
    
    .submit{
        font-size: 0.8em;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        padding: 15px 20px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        transition: all 0.4s ease;
        
        img{
            width: 2em;
            transition: all 0.4s ease;
        }
        
        &:hover{
            
            img{
                transform: translateX(50%);
                transition: all 0.4s ease;
            }
        }
    }
}

