



.home-hero{
    background-position: bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url('../images/heroes/urban.jpg');
    
    padding-top: 120px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    
    
    @include MQ(L){
        padding-top: 190px;
        padding-bottom: 60px;
        
        &.sm{
            padding-top: 10%;
            min-height: 70vh;
        }
    }
    
    
    >.content{
        flex: 1;
        position: relative;
        z-index: 1;
        text-align: center;
        
        @include MQ(L){
            text-align: left;
        }
        
        .title{
            color: white;
            font-size: 1.5em;
            font-weight: 800;
            line-height: 1.1em;
            margin-bottom: 2em;
                        
            @include MQ(L){
                font-size: 1.8em;
                line-height: 1.4em;
                margin-bottom: 1.5em;
            }
        }
        
        .subtitle{
            color: white;
            font-weight: 600;
            margin-bottom: 2em;
            display: inline-flex;
            align-items: center;
            
            &:before{
                content: "";
                width: 1em;
                height: 1em;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('../images/icons/triangle_white.svg');
                margin-right: 1em;
                
            }
            
            @include MQ(L){
                margin-bottom: 1.5em;
            }
        }
    }
}

.updates-hero{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-image: url('../images/heroes/urban.jpg');
    
    min-height: 80vh;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 0 0 100px 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    
    @include MQ(L){
        min-height: 90vh;
        display: flex;
        align-items: center;
        border-radius: 0 0 200px 0;
    }
    
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        opacity: 0.8;
        z-index: 0;
    }
    
    .content{
        flex: 1;
        position: relative;
        z-index: 1;
        text-align: center;
        
        @include MQ(L){
            text-align: left;
        }
        
        .title{
            color: $secondary;
            font-size: 2.5em;
            font-weight: 600;
            line-height: 1.1em;
            margin-bottom: 2em;
                        
            @include MQ(L){
                font-size: 3.3em;
                margin-bottom: 1em;
            }
        }
        
        .subtitle{
            color: white;
            font-weight: 400;
            margin-bottom: 2em;
            
            @include MQ(L){
                margin-bottom: 3em;
            }
        }
    }
}

.focus-hero{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-image: url('../images/heroes/urban.jpg');
    
    min-height: 50vh;
    padding-top: 100px;
    padding-bottom: 60px;
    border-radius: 0 0 100px 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    
    @include MQ(L){
        min-height: 70vh;
        padding-top: 160px;
        display: flex;
        align-items: center;
        border-radius: 0 0 200px 0;
    }
    
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        opacity: 0.8;
        z-index: 0;
    }
    
    &:after{
        content: '';
        position: absolute;
        width: 40vh;
        height: 40vh;
        right: 0;
        bottom: -20%;
        z-index: 1;
        opacity: 0.4;
        
        background-position: center !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-image: url('../images/heroes/dots_light.png');
    }
    
    .content{
        flex: 1;
        position: relative;
        z-index: 1;
        text-align: center;
        
        @include MQ(L){
            text-align: left;
        }
        
        .title{
            color: white;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.4em;
                        
            @include MQ(L){
                font-size: 2em;
                margin-bottom: 1em;
            }
        }
    }
}

.form-hero{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url('../images/heroes/doodle.jpg');
    position: relative;
    min-height: calc(100vh - 5em);
    
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.97;
        z-index: 0;
    }
    
    .content{
        position: relative;
        z-index: 1;
    }
}

.half-bg-grey{
    position: relative;
    
    &:before{
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: $green_lime;
    }
    
    @include MQ(M){
        &:before{
            height: 240px;
        }
    }
}

.focus-area-hero{
    background-color: $primary;
    padding: 100px 0 40px;
    text-align: center;
    
    @include MQ(L){
        padding: 160px 0 40px;
    }
    
    .icon{
        img{
            width: 6em;
        }
    }
    
    .title{
        color: white;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.1em;

        @include MQ(L){
            font-size: 2em;
        }
    }
}

.page-bg{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 500px;
    position: relative;
    
    &.about{
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
        z-index: 0;
    }
    
    @include MQ(M){
        min-height: 600px;
    }
}

.page-hero{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 200px;
    position: relative;
    
    @include MQ(M){
        height: 300px;
    }
}

.cta-image-card{
    
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url('../images/heroes/urban.jpg');
    
    min-height: 300px;
    
    @include MQ(L){
        min-height: 480px;
        display: flex;
        align-items: center;
    }
}

.cta-card{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(2, 82, 0, 0.18);
    padding: 30px;
    transform: translateY(-100px);
    
    @include MQ(L){
        padding: 80px;
        transform: translateY(-100px);
    }
}






.container-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);  
}

.hero-slider{
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
    
    .swiper-slide{
        display: flex;
        height: 200px;
        
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        
        @include MQ(L){
            height: 180px;
        }
    }
    
    .swiper-pagination-home{
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 10;
    }
    
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        border: 2px solid white;
        opacity: 1;
        background-color: transparent;
        transition: all 0.3s ease;
        
        &:hover{
            background-color: white;
            transition: all 0.3s ease;
        }
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        left: auto;
        width: 50%;
        right: 0;
    }
    
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    
    .header-container{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }
    

    .navigation-wrapper{
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;     

        @include MQ(M){
            right: 30%;
        }

        .swiper-button-prev, .swiper-button-next{
            position: static;
            background-image: none;
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0.5em 1em;
            border: 1px solid white;
            color: white;
            transition: all 0.3s ease;

            @include MQ(M){
                padding: 0.8em 1.5em;
            }

            &:after {
                content: "";
                font-family: FontAwesome; 
                position: static;
                
                border-radius: 50%;

                font-size: 1.5rem;
                
            }
            
            &:hover{
                color: white;
                background-color: $primary;
                border-color: $primary;
                transition: all 0.3s ease;
            }
        }

        .swiper-button-prev{
            &:after {
                content: "\f104";
            }
        }

        .swiper-button-next{
            &:after {
                content: "\f105";
            }
        }
    }
    
    .swiper-pagination-achievement{
        position: absolute;
        z-index: 100;
        bottom: 80px;
        text-align: center;
    }
    
    .content{
        flex: 1;
        display: flex;
        
        .description{
            flex: 1;
            padding: 30px;
        }
        .feat-image{
            display: none;
            width: 30%;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            
            @include MQ(M){
                display: block;
            }
        }
    }
}


.achievemets-slider{
    position: relative;
    overflow: hidden;
    
    .swiper-slide{
        height: 800px;
        padding-top: 4rem;
        padding-bottom: 6rem;
        background-color: $blue;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        
        /* Greyscale */
        /*-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
        
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            opacity: 0.9;
            z-index: 0;
        }
        
        .container{
            position: relative;
            z-index: 10;
        }
        
        @include MQ(L){
            height: 750px;
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    
    .swiper-pagination-home{
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 10;
    }
    
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        border: 2px solid white;
        opacity: 1;
        background-color: transparent;
        transition: all 0.3s ease;
        
        &:hover{
            background-color: white;
            transition: all 0.3s ease;
        }
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        left: auto;
        width: 50%;
        right: 0;
    }
    
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    
    .header-container{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }
    
    .navigation-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    
    .navigation-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;        
        position: static;
        bottom: 40px;
        right: 0;

        @include MQ(M){
            position: static;
            bottom: 40px;
            right: 0;
        }

        .swiper-button-prev, .swiper-button-next{
            position: static;
            background-image: none;
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0;
            padding: 1em;
            border: 1px solid $primary;
            color: $primary;
            transition: all 0.3s ease;

            @include MQ(M){
                padding: 1.5em;
            }

            &:after {
                content: "";
                font-family: FontAwesome; 
                position: static;
                
                border-radius: 50%;

                font-size: 1.5rem;
                
            }
            
            &:hover{
                color: white;
                background-color: $primary;
                transition: all 0.3s ease;
            }
        }

        .swiper-button-prev{
            &:after {
                content: "\f104";
            }
        }

        .swiper-button-next{
            &:after {
                content: "\f105";
            }
        }
    }
    
    .swiper-pagination-achievement{
        position: absolute;
        z-index: 100;
        bottom: 80px;
        text-align: center;
    }
    
    .content{
        filter: grayscale(0.5);
        position: relative;
        padding-top: 200px;
        
        @include MQ(L){
            padding-top: 140px;
        }
        
        .content-box{
            border: 1px solid $accent;
            padding: 20px;
            
            @include MQ(L){
                padding: 40px;
            }
        }
        
        .header{
            @include MQ(L){
                display: flex;
            }
            
            .pagination{
                font-weight: 600;
                color: #7B7B7B;
                padding-top: 0.6rem;
                margin-bottom: 1em;
            }
            
            .header-content{
                
                @include MQ(L){
                    flex: 1;
                    padding-left: 40px;
                }
            }
        }
        
        .caption{
            font-size: 0.9em;
            line-height: 1.5em;
            font-weight: 400;
            letter-spacing: 0.1em;
            
            @include MQ(L){
                font-size: 1em;
            }
        }
        
        .highlight{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4em;
            text-transform: uppercase;
            margin-bottom: 1em;
            
            @include MQ(L){
                font-size: 2rem;
                margin-bottom: 2em;
            }
        }
        
        .detail{
            .title{
                position: relative;
                font-size: 1.2em;
                font-weight: 600;
                line-height: 1.4em;
                color: $primary;
                margin-bottom: 20px;
                padding-bottom: 20px;

                @include MQ(L){
                    font-size: 1.5em;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
        
                
                &:before{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    color: $primary;
                    width: 4em;
                    height: 2px;
                    background-color: $primary;
                    
                    /*-webkit-transform: rotateZ(90deg);
                    -moz-transform: rotateZ(90deg);
                    -o-transform: rotateZ(90deg);
                    -ms-transform: rotateZ(90deg);
                    transform: rotateZ(90deg);*/
                }
            }
            
            p{
                font-size: 0.9rem;
                line-height: 2em;
                
                
                @include MQ(L){
                    margin-top: 15px;
                }
            }
        }
        
        
    }
}




/* New */
.home-slide-section{
    position: relative;
    
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(L){
        display: flex;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        //padding-left: 80px;
    }

    .wrapper{
        width: 100%;
        @include MQ(L){
            transform: translateX(100px);
        }
    }
    
    .swiper-wrapper{
        margin-bottom: 60px;

        .swiper-slide{
            display: flex;
            flex-direction: column;
            padding: 40px;
            border-radius: 8px;
            min-height: 400px;
            background-color: white;
                        
            .content{
                flex: 1;
                padding-bottom: 40px;
                
                .icon{
                    font-size: 2em;
                    padding-bottom: 20px;
                }
            }
            
            .footer{
                font-size: 0.9em;
            }
        }
    }
    
    .swiper-pagination {
        .swiper-pagination-bullet {
            background: rgba(255, 255, 255, 0.22);
            border: 0;
            
            @include MQ(L){
                transform: translateX(-100px);
            }
            
            &.swiper-pagination-bullet-active{
                background: $primary;
            }
        }
    }
}