/*
*
*Main Navigation BEGIN
*
*/

.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0.8em 0;
    z-index: 1000;
    font-weight: 400;
    background-color: $primary;
    
    .navigation-list{
        background-color: $primary;
    }
    
    &.secondary{
        background-color: $secondary;
        
        .navigation-list{
            background-color: $secondary;
        }
    }
    
    &.accent{
        background-color: $accent;
        
        .navigation-list{
            background-color: $accent;
        }
    }
    
    @include MQ(L){
        //padding: 0;
        padding: 3em 0;
        height: 80px;
        display: flex;
        align-items: center;
        background-color: transparent !important;
        transition: all 0.3s ease;
        
        &.in-body.primary, &.fixed-primary{
            padding: 2em 0;
            background-color: $primary !important;
            transition: all 0.3s ease;
        }
        
        &.in-body.secondary{
            padding: 2em 0;
            background-color: $secondary !important;
            transition: all 0.3s ease;
        }
        
        &.in-body.accent{
            padding: 2em 0;
            background-color: $accent !important;
            transition: all 0.3s ease;
        }
    }
    
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }
    
    .right-nav{
        display: flex;
        align-items: center;
    }
    
    .brand{
        flex: 1;
        position: relative;
        z-index: 1;
        
        @include MQ(L){
            flex: none;
        }
        
        img{
            height: 2em;
            
            @include MQ(L){
                height: 2.5em;
            }
        }
    }
    
    .nav-box{
        flex: 1;
        display: flex;
        align-items: center;
        
        display: block;
        position: fixed;
        top: 10px;
        left: 0;
        right: 0;
        z-index: -1;
        margin-top: 3em;
        
        @include MQ(L){
            padding: 0;
            padding-left: 4em;
            margin: 0;
            border: 0;
            display: flex;
            position: static;
            z-index: 1;
            
            justify-content: flex-start;
        }
    }

    .navigation-list{
        display: none;
        //border-top: 1px solid gainsboro;
        padding: 20px 15px 20px;
        
        @include MQ(L){
            display: block;
            padding: 0;
            //padding-right: 4em;
            background-color: transparent !important;
            
            &.xl-none{
                display: none;
            }
        }

        >li{
            display: block;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            margin-bottom: 20px;

            &:last-child{
                border-bottom: 0;
                margin: 0;
            }

            @include MQ(L){
                display: inline-block;
                border-bottom: 0;
                margin: 0;
                padding: 0;
                margin-right: 4em;
                float: left;
            }

            >a{
                display: block;
                font-size: 0.9em;
                font-weight: 500;
                color: white;
                border-top: 2px solid transparent;
                transition: opacity 0.3s ease;
                
                &.active{
                    @include MQ(L){
                        border-color: white;
                    }
                }

                &:hover{
                    opacity: 0.7;
                    transition: opacity 0.3s ease;
                }
                
                @include MQ(L){
                    padding: 1em 0;
                }
            }
            
            &.active{
                a{
                    color: $primary;
                    @include MQ(L){
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
            
            &.nav-dropdown{
                position: relative;
                z-index: 100000;

                @include MQ(L){
                    &:hover{
                        .nav-dropdown-menu{
                            max-height: 500px;
                            transition: all 0.3s ease;
                        }
                    }
                }
            }

            .nav-dropdown-menu{
                //height: 0;

                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 300px;
                top: 3.5em;
                max-height: 0;
                overflow: hidden;
                cursor: default;
                box-shadow: 0px 7px 20px 0px rgba(17, 121, 56, 0.1);

                transition: all 0.3s ease;
                
                .nav-wrapper{
                    position: relative;
                    padding-top: 10px;
                }
                
                .triangle{
                    position: absolute;
                    top: 0;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                    padding: 0;

                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    border-right-width: 10px;
                    border-left-width: 10px;
                    border-bottom: 10px solid $secondary;
                }

                ul{
                    padding: 10px 0;
                    background-color: $secondary;
                }

                li{
                    font-size: 0.8em;
                    font-weight: 500;
                    line-height: 1.4em;
                    text-align: left;

                    &:last-child{
                        margin-bottom: 0;
                    }
                    
                    a{
                        display: block;
                        color: black;
                        font-weight: 600;
                        padding: 0.45em 0.9em;
                        
                        &:hover{
                            background-color: $primary;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
    .nav-cta{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 2em;
        font-size: 0.7em;
        font-weight: 700;
        display: none;
        
        @include MQ(L){
            display: block;
            flex: none;
            padding-right: 0;
            padding-left: 4em;
            
            a{
                &:first-child{
                    margin-right: 0.5em;
                }
            }
        }
        
        .message{
            font-size: 0.9em;
            font-weight: 400;
            color: white;
            
            a{
                color: $primary;
                
                &:hover{
                    color: $accent;
                }
            }
        }
        
        .sign-in, .register{
            display: none;
            @include MQ(M){
                display: inline-block;
            }
        }
    }
    
    .sign-in, .register, .get-started{
        display: inline-block;
        font-size: 0.8em;
        color: white;
        border: 1px solid white;
        border-radius: 2em;
        padding: 0.6em 1.2em;
        margin-right: 0.3em;

        &:last-child{
            margin-right: 0;
        }

        @include MQ(L){
            margin-right: 0;
        }

        &:hover{
            color: white;
            border-color: $accent;
            background-color: $accent;
            transition: all 0.3s ease;
        }
    }

    .register, .get-started{
        color: black;
        background-color: white;
        border-color: white;

        &:hover{
            border-color: $accent;
            background-color: $accent;
            transition: all 0.3s ease;
        }
    }

    .get-started{
        display: inline-block;

        @include MQ(M){
            display: none;
        }
    }
    

    .home-button{
        .hamburger-box{
            margin-top: 6px;
        }
        
        @include MQ(L){
            display: none;
        }
        
        .menu-btn{
            outline: none;
        }
    }
}


/*
*
*Main Navigation END
*
*/

