p{
    line-height: 1.7em;
}


/*
*
* Titles END
*
*/

/*
*
* Typography BEGIN
*
*/

//
//Alignment
//
.txt-align-left{
    text-align: left;
}

.txt-align-right{
    text-align: right;
}

.txt-align-center{
    text-align: center;
}

//
//Decoration
//
.strikethrough{
    text-decoration: line-through;
}

//
//Color
//
.txt-color-default{
    color: $txt_default;
}

.txt-color-primary{
    color: $primary;
}

.txt-color-secondary{
    color: $secondary;
}

.txt-color-accent{
    color: $accent;
}

.txt-color-dark{
    color: $txt_dark;
}

.txt-color-light{
    color: $txt_light;
}

.txt-color-lighter{
    color: $txt_lighter;
}

.txt-color-white{
    color: $bg_white;
}

.txt-color-white-off{
    color: #F3F3F3;
}

.txt-color-trans{
    color: rgba(255,255,255,0.7);
}

.txt-color-yellow{
    color: $yellow;
}

.txt-color-yellow-dark{
    color: $yellow_dark;
}

.txt-color-green{
    color: $green;
}

.txt-color-orange{
    color: $bg_orange;
}

.txt-color-red{
    color: $red;
}

.txt-color-blue{
    color: $blue;
}

.txt-color-orange-dark{
    color: $bg_orange_dark;
}

.txt-color-brown{
    color: $brown;
}

//
//Weight
//
.txt-light{
    font-weight: 300;
}

.txt-regular{
    font-weight: 400;
}

.txt-medium{
    font-weight: 500;
}

.txt-bold{
    font-weight: 600;
}

.txt-black{
    font-weight: 800;
}

.txt-heavy{
    font-weight: 900;
}

.txt-italics{
    font-style: italic;
}

.txt-underline{
    text-decoration: underline;
}

//
//Height
//
.txt-height-1{
    line-height: 1;
}

.txt-height-1-1{
    line-height: 1.1;
}

.txt-height-1-2{
    line-height: 1.2;
}

.txt-height-1-3{
    line-height: 1.3;
}

.txt-height-1-4{
    line-height: 1.4;
}

.txt-height-1-5{
    line-height: 1.5;
}

.txt-height-1-6{
    line-height: 1.6;
}

.txt-height-1-7{
    line-height: 1.7;
}

.txt-height-1-8{
    line-height: 1.8;
}
.txt-height-1-9{
    line-height: 1.9;
}

.txt-height-2{
    line-height: 2;
}

//
//Size
//
.ft-number{
    font-size: 3em;
    
    @include MQ(M){
        font-size: 4em;
    }
}

.txt-5em{
    font-size: 3em;
    
    @include MQ(M){
        font-size: 5em;
    }
}

.txt-4em{
    font-size: 2em;
    
    @include MQ(M){
        font-size: 4em;
    }
}

.txt-3em{
    font-size: 2em;
    
    @include MQ(M){
        font-size: 3em;
    }
}

.txt-2-6em{
    font-size: 2em;
    
    @include MQ(M){
        font-size: 2.6em;
    }
}

.txt-2-4em{
    font-size: 2em;
    
    @include MQ(M){
        font-size: 2.4em;
    }
}

.txt-2-2em{
    font-size: 2em;
    
    @include MQ(M){
        font-size: 2.2em;
    }
}

.txt-2-1em{
    font-size: 1.9em;
    
    @include MQ(M){
        font-size: 2.1em;
    }
}

.txt-2em{
    font-size: 1.8em;
    
    @include MQ(M){
        font-size: 2em;
    }
}

.txt-xxlg{
    font-size: 1.6em;
}

.txt-xlg{
    font-size: 1.4em;
}

.txt-lg{
    font-size: 1.1em;
}

.txt-normal{
    font-size: 1em;
}

.txt-normal-s{
    font-size: 0.9em;
}

.txt-sm{
    font-size: 0.8em;
}

.txt-xs{
    font-size: 0.7em;
}

.txt-xxs{
    font-size: 0.6em;
}

/*
*
* Typography END
*
*/

/*
*
* Lists BEGIN
*
*/

.ol-numbers{
    list-style-type: decimal;
    
    li{
        margin-bottom: 10px;
    }
}

.ol-lowercase{
    list-style-type: lower-alpha;
    
    li{
        margin-bottom: 20px;
    }
}

.indented-list{
    list-style-type: none;
    
    li{
        
        &:before{
            content: ">";
            margin-right: 10px;
            color: $bg_orange;
        }
    }
}

.indented-list-disc{
    list-style-type: disc;
    margin: 0 0 20px 0px;
    padding-left: 40px;
    
    li{
        line-height: 1.5em;
        margin-bottom: 20px;
    }
}

.course-list-disc{
    //list-style-type: disc;
    
    li{
        position: relative;
        line-height: 1.5em;
        padding-left: 30px;
        color: $bg_orange;
        
        &:before{
            content: "";
            color: $bg_orange;
            position: absolute;
            top: 4px;
            left: 0;
            
            width: 1em;
            height: 1em;
            background-image: url('../images/icons/arrow_forward_grey.png');
            background-size: contain;
        }
    }
}

.arrow-list-white{
    margin: 0 0 20px 0px;
    
    li{
        position: relative;
        line-height: 1.5em;
        margin-bottom: 20px;
        padding-left: 40px;
        color: white;
        
        a{
            color: white;
            transition: all 0.3s ease;
            
            &:hover{
                color: $bg_orange;
                transition: all 0.3s ease;
            }
        }
        
        &:before{
            content: "";
            color: $bg_orange;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 1em;
            height: 1em;
            background-image: url('../images/icons/icons8-right-filled-white.png');
            background-size: contain;
        }
    }
}

.right-list-black{
    li{
        margin-bottom: 40px;
        
        &:before{
            content: "";
            color: $bg_orange;
            position: absolute;
            top: 4px;
            left: auto;
            right: 0;
            width: 1em;
            height: 1em;
            background-image: url('../images/icons/icons8-right-filled-black.png');
            background-size: contain;
        }
    }
}

.right-list{
    li{
        margin-bottom: 40px;
        
        &:before{
            content: "";
            color: $bg_orange;
            position: absolute;
            top: 4px;
            left: auto;
            right: 0;
            width: 1em;
            height: 1em;
            background-image: url('../images/icons/icons8-right-filled-white.png');
            background-size: contain;
        }
    }
}

.pill-list{
    overflow: hidden;
    
    li{
        display: block;
        float: left;
        margin-right: 15px;
        
        a{
            display: flex;
            color: $txt_default;
            font-size: 0.9em;
            padding: 8px 15px;
            border: 1px solid $txt_default;
            border-radius: 20px;
        }
    }
}

.category-list{
    display: block;
    overflow: hidden;
    
    li{
        display: block;
        float: left;
        padding-right: 2px;

        &:after{
            content: "/";
            font-weight: 600;
            padding-left: 0px;
        }

        &:last-child{
            &:after{
                content: "";
            }
        }

        a{
            font-size: 0.9em;
            font-weight: 600;
            color: $blue;
        }
    }
}

.big-list{
    li{
        &:last-child{
            a{
                margin-bottom: 0;
            }
        }
        
        a{
            display: inline-block;
            font-size: 0.95em;
            font-weight: 600;
            text-decoration: underline;
            color: black;
            margin-bottom: 8px;
            
            
        }
    }
}

.triangled-list{
    margin: 0 0 20px 0px;
    
    li{
        position: relative;
        line-height: 1.5em;
        margin-bottom: 10px;
        padding-left: 30px;
        color: white;
        
        a{
            color: white;
            transition: all 0.3s ease;
            
            &:hover{
                color: $bg_orange;
                transition: all 0.3s ease;
            }
        }
        
        &:before{
            content: "";
            color: $bg_orange;
            position: absolute;
            top: 50%;
            left: 0;
            
            transform: translateY(-50%);
            
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 6.9px;
            border-color: transparent transparent transparent #ffffff;
        }
    }
}

.triangled-list-black{
    margin: 0 0 20px 0px;
    
    li{
        position: relative;
        line-height: 1.5em;
        margin-bottom: 10px;
        padding-left: 30px;
        color: black;
        
        a{
            color: white;
            transition: all 0.3s ease;
            
            &:hover{
                color: $bg_orange;
                transition: all 0.3s ease;
            }
        }
        
        &:before{
            content: "";
            color: $bg_orange;
            position: absolute;
            top: 50%;
            left: 0;
            
            transform: translateY(-50%);
            
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 6.9px;
            border-color: transparent transparent transparent black;
        }
    }
}

.icon-list{    
    li{
        line-height: 1.5em;
        font-weight: 400;
        margin-bottom: 10px;
        display: flex;
    
        a{
            display: flex;            
            
            &:hover{
                span{
                    text-decoration: underline;
                }
            }
        }
        
        i{
            font-size: 0.9em;
            padding-right: 10px;
            padding-top: 0.3em;
        }
    }
    
    /*Theme*/
    &.blue{
        li{
            a{
                color: $blue;
            }
        }
    }
    
    &.white{
        li{
            a{
                color: white;
            }
        }
    }
}

.alphabet-filter-list{
    overflow: hidden;
    
    .title{
        padding: 8px;
    }
    li{
        float: left;
        
        a{
            display: block;
            font-weight: 500;
            padding: 8px;
        }
    }
}

.directory-list{
    & > li{
        margin-bottom: 60px;
        display: flex;
        
        & > a{
            display: block;
            flex: 1;
            margin: 0;
            padding-bottom: 1.2em;
            padding-right: 2em;
            text-decoration: none;
            
            border-bottom: 4px solid black;
            position: relative;
            
            &:after {
                content: "\f054";
                position: absolute;
                width: 2em;
                height: 2em;
                border: 1px solid #bbb8b8;
                border-radius: 50%;
                top: -0.4em;
                right: 0;
                color: inherit;
                font-size: 0.8em;
                font-family: FontAwesome; 
                padding: 0.5em 0.65em;
                transition: all 0.3s ease;
            }
            
            &:hover{
                &:after {
                    background-color: $blue;
                    color: white;
                    border-color: $blue;
                    transition: all 0.3s ease;
                }
            }
            
            .title{
                display: block;
                color: #bbb8b8;
                font-weight: 600;
            }
            
            .subtitle{
                display: block;
            }
        }
        
        .sub-list{
            margin-top: 15px;
            
            li{
                margin-bottom: 10px;
                
                a{
                    font-weight: 500;
                    text-decoration: none;
                    padding-left: 1.5em;
                    position: relative;
            
                    &:after {
                        content: "\f054";
                        position: absolute;
                        width: 2em;
                        height: 2em;
                        border-radius: 50%;
                        top: 0.15em;
                        left: 0;
                        color: inherit;
                        font-size: 0.8em;
                        font-family: FontAwesome; 
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

.homepage-list{
    li{
        display: flex;
        align-items: center;
        
        a{
            display: inline-block;
            position: relative;
            font-weight: 500;
            color: #c5c5c5;
            padding: 0.7em;
            flex: 3;
            transition: all 0.3s ease;
            
            @include MQ(M){
                font-size: 1.2em;    
            }
        }
        
        &:before{
            content: "";
            display: inline-block;
            color: $yellow;
            font-weight: 500;
            font-size: 1.2em;
            flex: 1;
        }
        
        &:hover{
            color: $yellow;
            transition: all 0.3s ease;
        }
        
        &.active{
            a{
                background-color: gray;
                color: white;
            }
            
            &:before{
                content: "I want to";
            }
        }
    }
    
    
}

.venture-list{
    position: relative;
    z-index: 0;
    
    &:after{
        content: "";
        position: absolute;
        width: 1px;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: gainsboro;
    }
    
    li{
        position: relative;
        z-index: 1;
        
        .title{
            padding-left: 2em;
            position: relative;
            margin-bottom: 1em;
            font-weight: 500;
            
            &:before{                
                content: "";
                position: absolute;
                width: 0.8em;
                height: 0.8em;
                border-radius: 50%;
                top: 0.1em;
                left: -0.38em;
                background-color: green;
            }
        }
        
        .content{
            padding-left: 2em;
            margin-bottom: 4em;
            font-weight: 500;
            
            .project{
                display: block;
                background-color: transparent;
                border: 0;
                outline: 0;
                padding: 0;
                font-weight: 500;
                cursor: pointer;
                text-transform: uppercase;
                color: green;
                font-size: 0.9em;
                margin-top: 1.8em;
                
                i{
                 margin-right: 1.5em;
                }
                
            }
        }
    }
}



.active-tab{
    padding-bottom: 15px;
    display: inline-block;
}
.active-tab[aria-expanded="false"] {
    
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.active-tab[aria-expanded="true"] { 
    border-bottom: 3px solid $bg_orange;
    transition: all 0.3s ease;
}

.hover-arrow{
    position: relative;
    
    &:before{
        content: "";
        color: $bg_orange;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        background-image: url('../images/icons/arrow_forward_grey.png');
        background-size: contain;
    }
}

.hover-arrow.right{
    &:before{
        left: auto;
        right: 0;
    }
}

/*
*
* Lists END
*
*/

/*
*
* Font Awesome Colors BEGIN
*
*/

.fa-youtube-play{
    color: darkred;
}

.fa-facebook-square, .fa-facebook{
    color: #3B5998;
}

.fa-twitter-square, .fa-twitter{
    color: #1DA1F2;
}

.fa-linkedin-square, fa-linkedin{
    color: #0077B5;
}

.fa-instagram{
    color: deeppink;
}


/*
*
* Font Awesome Colors END
*
*/

.muiti-column-2{
    @include MQ(M){
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
        -moz-column-gap: 50px; /* Firefox */
        column-gap: 50px;
    }
}


.inline-block{
    display: inline-block;
}

.text-box{
    h1,h2,h3,h4,h5,h6{
        line-height: 1.1em;
        margin-top: 5px;
        margin-bottom: 20px;
        
        &:first-child{
            padding-top: 0;
        }
    }
    
    >h1{
        font-size: 2em;
        
        @include MQ(M){
            font-size: 2em;
        }
    }
    >h2{
        font-size: 1.8em;
        
        @include MQ(M){
            font-size: 1.8em;
        }
    }
    >h3{
        font-size: 1.4em;
        
        @include MQ(M){
            font-size: 1.4em;
        }
    }
    >h4{
        font-size: 1.2em;
        
        @include MQ(M){
            font-size: 1.2em;
        }
    }
    >h5{}
    >h6{}
    
    >p{
        line-height: 1.5em;
        margin-bottom: 20px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    strong{
        font-weight: 600;
    }
    
    ol, ul{
        li{
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 2em;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 20px;
            }
        }
    }
    
    ol{
        padding-left: 20px;
        list-style-type: decimal;
        
        li{
            padding-left: 20px;
        }
    }

    ul{
        list-style-type: none;
        
        li{
            
            display: flex;
            
            &:before{
                content: '\f192';
                font-family: Fontawesome;
                padding-right: 2em;
            }
            
            &:last-child{
                margin-bottom: 20px;
            }
        }
    }
    
    img{
        display: inline-block;
        margin-bottom: 15px;
        height: auto;
    }
    
    iframe{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    
    &.sm{
        p{
            font-size: 0.9em;
            line-height: 1.7em;
        }
    }
    
    table{
        font-size: 0.9em;
        
        thead{
            line-height: 1.2em;
        }
    }
}

.accordion-text{
    .table .thead-light th {
        font-weight: 600;
    }
    
    span{
        margin-bottom: 15px;
    }
}



.dash{
    padding: 15px 10px;
    span{
        display: block;
        background-color: black;
        margin: 0 auto;
        width: 8px;
        height: 1.5px;
    }
}

.center-mobile{
    text-align: center;
    
    @include MQ(M){
        text-align: left;
    }
}

.image-caption{
    padding-left: 40px;
    position: relative;
    
    &:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 8.7px 5px 0;
        border-color: transparent #cbcdcf transparent transparent;
        
        position: absolute;
        top: .45em;
        left: 0;

    }
}

.two-column{
    column-count: 2;
    column-width: 250px;
    column-gap: 40px;
}

.sub-txt{
    position: relative;
    display: inline-block;
    
    &:after {
        background: #919191;
        content: "";
        height: 2px;
        position: absolute;
        right: -24px;
        top: 40%;
        width: 16px;
    }
}

.uppercase{
    text-transform: uppercase;
}

.cta-link-white{
    color: white;
    text-decoration: underline;
    
    &:hover{
        color: gray;
    }
}

.benefits-list{
    li{
        font-weight: 300;
        line-height: 1.7em;
        font-size: 0.9em;
        margin-bottom: 1.5em;
        display: flex;
        padding-bottom: 1.5em;
        
        &:last-child{
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        
        &:before{
            content: "\f058";
            font-family: FontAwesome;
            font-size: 2em;
            color: $secondary;
            padding-top: 0.1em;
            margin-right: 1em;
        }
    }
    
    .high-light {
        padding: 10px 20px;
    }
    
    &.underline{
        li{
            border-bottom: 1px solid gainsboro;
            
            &:last-child{
                border: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}

.program-benefits-list{
    li{
        font-weight: 300;
        line-height: 1.7em;
        font-size: 0.9em;
        
        &:last-child{
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        
        .content{
            display: flex;
            margin-bottom: 1.5em;
            padding-bottom: 1.5em;
            
            &:before{
                content: "\f058";
                font-family: FontAwesome;
                font-size: 2em;
                color: $secondary;
                padding-top: 0.1em;
                margin-right: 1em;
            }
        }
        
        ul{
            padding-left: 3.8em;
        }
    }
    
    .high-light {
        padding: 10px 20px;
    }
    
    &.underline{
        li{
            border-bottom: 1px solid gainsboro;
            
            &:last-child{
                border: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}

.bordered-text{
    position: relative;
    padding-bottom: 30px;
    
    &:after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 6px;
        width: 25%;
        background-color: $secondary;
    }
}