.faq-collapse{
    .faq-article{
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #E0E0E0;
        
        @include MQ(M){
            padding-bottom: 1.9rem;
            margin-bottom: 1.9rem;
        }
        
        &:last-child{
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }
        
        .title{
            line-height: 1.4em;
            
            a{
                display: block;
                display: flex;
                justify-content: space-between;
                
                color: $txt_default;
                font-size: 1rem;
                font-weight: 800;
                
                @include MQ(M){
                    font-size: 1.2rem;
                }
                
                &[aria-expanded="true"]{
                    color: black;
                }
                
                &:after{
                    content: "\f078";
                    font-family: Fontawesome;
                    padding-left: 1em;
                }
                
                &[aria-expanded="false"]:after{
                    transform: rotateX(0deg);
                    transition: all 0.3s ease;
                }
                
                &[aria-expanded="true"]:after{
                    transform: rotateX(180deg);
                    transition: all 0.3s ease;
                }
            }
        }
        
        .content{
            padding-top: 1.5rem;
            
            @include MQ(M){
                padding-top: 1.9rem;
            }
        }
    }
}

.contact-details-wrapper{
    margin-top: 2rem;
    
    @include MQ(M){
        margin-top: 4rem;
    }
    
    .social-media{
        margin-top: 3rem;
        
        li{ 
            margin-right: 3rem;
            
            a{
                font-size: 1.8rem;
            }
        }
    }
}

.contact-item{
    display: flex;
    align-items: center;;
    margin-bottom: 2rem;
    
    &:last-child{
        margin-bottom: 0;
    }
    
    @include MQ(M){
        margin-bottom: 2rem;
    }
    
    
    figure{
        padding-right: 2.5em;
        
        img{
            width: 30px;
        }
    }
    
    p{
        flex: 1;
        font-size: 0.9em;
        font-weight: 500;
        line-height: 1.6em;
        color: black;
    }
}

.contact-subtitle{
    margin-bottom: 2rem;
    
    @include MQ(L){
        margin-bottom: 0;
    }
}




.section-bucket{
    position: relative;
    display: flex;
    
    @include MQ(M){
        
    }
    
    .number{
        width: 2.5rem;
        height: 2.5rem;
        border: 2px solid grey;
        border-radius: 50%;
        font-size: 1.2em;
        font-weight: 500;
        opacity: 0.4;
        margin-right: 20px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content{
        flex: 1;
        
        .title{
            font-weight: 500;
            color: black;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        
        p{
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.7em;
        }
    }
}


.custom-radio{
    /* The container */
    .radio-item {
        display: inline-block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        /* Hide the browser's default radio button */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        
        /* On mouse-over & on Selection, add a grey background color */        
        &:hover input ~ .text, input:checked ~ .text {
            background-color: $green;
            color: white;
            transition: all 0.3s ease;
        }
        
        .text{
            display: block;
            padding: 0.3rem 1em;
            border: 1px solid $green;
            border-radius: 20px;
            transition: all 0.3s ease;
        }
    }

}

//Custom Modal
.coming-soon-modal{
    
    
    &.black{
        color: white;
    }
    
    .modal-content{
        border-radius: 0;
    }
    
    .content{
        display: flex;
        flex: 1;
    }
    
    .close{
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 1;
        line-height: 1rem;
        color: white;
    }
    
    .left{
        background-color: $secondary;
        padding: 40px 30px;
    }
    
    .right{
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        
        min-height: 320px;
        
        @include MQ(M){
            min-height: 480px;
        }
    }
    
    .code-label{
        display: inline-block;
        border-radius: 1em;
        background-color: white;
        color: #00bfe7;
        padding: 1em 1.5em;
        line-height: 0;
    }
}

.program-gallery{
    .program-gallery-item{
        figure{
            height: 240px;
            
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    }
}

.process-timeline{
    position: relative;
    padding-left: 3rem;

    @include MQ(M){
        padding-left: 0;
    }

    &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2rem;
        z-index: 0;

        width: 2px;
        background-color: $secondary;

        @include MQ(M){
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .content-box{
        padding-bottom: 40px;
        position: relative;
        z-index: 10;

        @include MQ(M){
            padding-top: 80px;
            padding-bottom: 80px;

            &.left{
                text-align: right; 
            }
            
        }

        .article-header{
            position: relative;

            .number{
                position: absolute;
                height: 40px;
                width: 40px;
                
                left: -50px;

                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;

                font-size: 24px;

                border: 3px solid $secondary;
                border-radius: 50%;

                @include MQ(M){
                    top: 50%;
                    transform: translateY(-50%);
                    
                    height: 50px;
                    width: 50px;

                    &.left{
                        left: unset;
                        right: -105px;

                        &:after{
                            left: -40px;
                        }
                    }

                    &.right{
                        left: -105px;

                        &:after{
                            right: -40px;
                        }
                    }

                    &:after{
                        content: "";
                        position: absolute;
                        height: 3px;
                        width: 40px;
                        background-color: $secondary;

                    }
                }


                &.right{
                    @include MQ(M){
                        right: -105px;
                    }
                }
            }
        }

        @include MQ(M){}
    }

    .image-box-right, .image-box-left{
        padding-bottom: 20px;

        @include MQ(M){
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .image-box-right{
        padding-right: 0;
    }

    .image-box-left{
        padding-right: 0;

        @include MQ(M){
            padding-left: 0;
            padding-right: 80px;
        }
    }

    .process-image{
        height: 180px;

        @include MQ(M){
            height: 240px;
        }
            
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}

/* Dashboard */
.account-summary{
    .user{
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
        
        .user-initials{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: red;
            color: white;
        }
        
        .user-info{
            flex: 1;
            padding-left: 0.75rem;
            
            .name{
                font-size: 0.9rem;
                font-weight: 500;
                margin-bottom: 0.5em;
            }
            
            .user-id{
                font-size: 0.75rem;
                color: darkgrey;
            }
        }
    }

    .stats{
        padding-bottom: 0.5rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid gainsboro;
        
        li{
            display: inline-block;
            padding-right: 1em;
            margin-right: 1em;
            border-right: 1px solid gainsboro;
            
            &:last-child{
                padding: 0;
                margin: 0;
                border: 0;
            }
            
            .value{
                display: block;
                font-size: 0.8rem;
                font-weight: 500;
                margin-bottom: 0.5em;
            }
            
            .label{
                display: block;
                font-size: 0.65rem;
                text-transform: uppercase;
                color: darkgrey;
            }
        }
    }
    
    .wallet-summary{
        .title{
            font-size: 0.9rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        
        .wallet-list{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid gainsboro;
            
            li{
                display: flex;
                align-items: center;
                padding-bottom: 0.5rem;
                
                &:last-child{
                    padding: 0;
                }
                
                >*{
                    flex: 1;
                }
                
                .currency{
                    display: flex;
                    align-items: center;
                    
                    .icon{
                        img{
                            height: 1.2rem;
                        }
                    }
                    
                    .name{
                        font-size: 0.75rem;
                        padding-left: 0.5em;
                    }
                }
                
                .rate{
                    .value{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    
                    .label{
                        font-size: 0.6rem;
                    }
                }
                
                .growth{
                    font-size: 0.75rem;
                    color: darkgrey;
                    display: flex;
                    align-items: center;
                    
                    .value{
                        padding-left: 0.5em;
                    }
                    
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border: 4px solid transparent;
                        border-top-color: #BBB;
                        border-bottom: none;
                    }
                    
                    &.up{
                        &:before {
                            border-top-color: green;
                        }
                    }
                    
                    &.down{
                        &:before {
                            border-top-color: red;
                        }
                    }
                }
            }
        }
    }
}

.verify-account{
    border-left: 8px solid #ff8b54;
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        font-size: 2.25em;
        border-radius: 50%;
        background-color: #f3efeb;
        color: #ff8b54;
        margin-bottom: 1rem;
    }
    
    .title{
        font-weight: 500;
        margin-bottom: 1rem;
    }
    
    .subtitle{
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    
    .message{
        font-size: 0.75rem;
        line-height: 1.7em;
        margin-bottom: 2em
    }
}

.order-history{
    
    .title{
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1.25em;
    }
    
    .order-history-list{
        margin-bottom: 1rem;
        border-bottom: 1px solid gainsboro;
        
        li{
            display: flex;
            align-items: center;

            &:last-child{
                padding: 0;
            }

            .order{
                flex: 3;
                padding: 0.5rem 0.5rem 0.5rem 0;
            }
            
            .status{
                flex: 2;
                padding: 0.5rem;
            }
            
            .options{
                flex: 1;
                padding: 0.5rem;
            }
            
            &.heading{
                font-size: 0.7rem;
                text-transform: uppercase;
                color: grey;
                padding-bottom: 0.25rem;
                border-bottom: 1px solid gainsboro;
            }
            
            &.item{
                .order{
                    border-right: 1px solid gainsboro;
                    .value{
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                    
                    .user{
                        font-size: 0.75rem;
                        color: $primary
                    }
                }
                
                .status{
                    border-right: 1px solid gainsboro;
                    
                    .label{
                        display: inline-block;
                        background-color: gainsboro;
                        font-size: 0.7rem;
                        padding: 0.3em 1em;
                        border-radius: 1em;
                    }
                    
                    &.confirmed{
                        .label{
                            color: green;
                            background-color: #e5fff6;
                        }
                    }
                    
                    &.pending{
                        .label{
                            color: $red;
                            background-color: #ffebef;
                        }
                    }
                    
                    &.cancelled{
                        .label{
                            color: $red;
                            background-color: #ffebef;
                        }
                    }
                }
                
                .options{
                    .option-btn{
                        display: inline-block;
                        padding: 0 0.4em;
                        border: 1px solid gainsboro;
                        border-radius: 1em;
                    }
                    
                    .dropdown-menu{
                        border-radius: 0;
                        top: 15px !important;

                        li{
                            font-size: 0.8rem;
                            padding: 8px 15px;
                        }
                    }
                }
            }
        }
    }
}

.dashboard-card-chart{
    .chart-container{
        border-right: 1px solid gainsboro;
        
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gainsboro;
            
            .dropdown{
                padding-left: 15px;
                
                @include MQ(M){
                    padding-left: 20px;
                }
                    
                .option-btn{
                    display: flex;
                    align-items: center;
                    font-size: 0.8rem;
                    
                    img{
                        height: 1rem;
                        padding-right: 0.3rem;
                        margin-top: -0.1rem;
                    }
                    
                    i{
                        color: $primary;
                        padding-left: 0.3rem;
                    }
                }
                .dropdown-menu{
                    border-radius: 0;
                    top: 15px !important;

                    li{
                        font-size: 0.8rem;
                        padding: 8px 15px;
                        
                        a{
                            display: flex;
                            align-items: center;
                            
                            img{
                                height: 1rem;
                                padding-right: 0.3rem;
                                margin-top: -0.1rem;
                            }
                        }
                    }
                }
            }
            
            .time-filter{
                display: flex;
                justify-content: flex-end;
                li{
                    border-left: 1px solid gainsboro;
                    
                    a{
                        display: block;
                        font-size: 0.7rem;
                        color: darkgray;
                        padding: 10px 12px;
                    }
                    
                    &.active{
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
        
        .canvas-wrapper{
            padding: 15px;

            @include MQ(M){
                padding: 20px;
            }
        }
    }
    
    .summary{
        text-align: center;
        padding: 15px;

        @include MQ(M){
            padding: 20px;
        }
        
        .current-price{
            margin-bottom: 1.5rem;
            
            .amount{    
                display: inline-block;
                position: relative;
                padding-left: 1rem;
                margin-bottom: 0.5rem;
                
                .sign{
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 0.9rem;
                    color: gray;
                }
                
                .value{
                    font-size: 1.8rem;
                }
            }
            
            .label{
                font-size: 0.8rem;
                text-transform: uppercase;
                color: darkgrey;
            }
        }
        
        .growth{
            margin-bottom: 1.5rem;
            
            .amount{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                
                &.up{
                    color: limegreen;
                    
                    &:before{
                        content: "+";
                    }
                }
                
                &.down{
                    color: $red;
                    
                    &:before{
                        content: "-";
                    }
                }
            }
            
            .label{
                font-size: 0.8rem;
                text-transform: uppercase;
                color: darkgrey;
            }
        }
    }
}



.dashboard-cta{
    a{
        font-size: 0.8rem;
        font-weight: 500;
        color: $red;
        transition: all 0.3s ease;

        &:hover{
            color: $red_dark;
            transition: all 0.3s ease;
        }
    }
}






.number-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid $primary;
}




.blog-tweets{
    background: #F0F0F0;
    
    .header{
        color: $primary;
        padding: 20px;
        border-bottom: 1px solid #D7D7D7;
        
        @include MQ(M){
            padding: 40px;
        }
    }
    
    .footer{
        padding: 20px;
        
        @include MQ(M){
            padding: 40px;
        }
    }
    
    .tweet-list{
        li{
            
            
            a{
                display: block;
                background-color: transparent;
                padding: 20px;
                border-bottom: 1px solid #D7D7D7;
                transition: all 0.3s ease;
                
                &:hover{
                    background-color: #FBFBFB;
                    transition: all 0.3s ease;
                }
                
                @include MQ(M){
                    padding: 40px;
                }
            }
        }
    }
}


/* New */
.timeline-container{
    
    .timeline-bucket{
        
        &:last-child{
            margin-bottom: 0;
            
            .icon{
                &:before{
                    display: none;
                }
            }
            
            .content{
                padding-bottom: 0;
            }
        }
        
        display: flex;
        
        .icon{
            position: relative;
            
            &:before{
                content: "";
                position: absolute;
                width: 1px;
                top: 3em;
                left: 50%;
                transform: translate(-50%);
                bottom: 0;
                background-color: $secondary;
            }
            
            img{
                width: 3em;
                height: 3em;
            }
        }
        
        .content{
            flex: 1;
            padding-left: 40px;
            padding-bottom: 80px;
        }
    }
}




/* New */
.avatar{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: $primary;

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;

    @include MQ(M){
        width: 2em;
        height: 2em;
    }
    
    &.testimonial{
        font-size: 0.8em;
        
        @include MQ(M){
            font-size: 0.8em;
        }
    }
    
    &.sm{
        font-size: 1.5em;
        
        @include MQ(M){
            font-size: 1.5em;
        }
    }
    
    &.md{
        font-size: 2em;
        
        @include MQ(M){
            font-size: 2em;
        }
    }
    
    &.lg{
        font-size: 4em;
        
        @include MQ(M){
            font-size: 4em;
        }
    }    
    
    &.chat{
        font-size: 1.2em;
        
        @include MQ(M){
            font-size: 1.2em;
        }
    }

}

.payment-tabs{
    padding: 40px 0;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.25);

    .nav-pills{
        display: flex;
        justify-content: center;
        text-align: center;
        
        li{
            flex: 1;
            margin: 0;
            margin-right: 0.5em;

            @include MQ(L){
                margin-right: 2em;
            }
            
            &:last-child{
                margin-right: 0;
            }

            .nav-link{
                position: relative;
                z-index: 0;
                display: block;
                border-radius: 0.2em;
                background-color: white;
                color: #565661;
                padding: 0.75em;
                border: 2px solid transparent;
                box-shadow: 0px 6px 8px #022E64;
                filter: grayscale(0.9);
                transition: all 0.3s ease;

                @include MQ(L){
                    padding: 0.75em 3em;
                }
                
                &.active{
                    z-index: 1;;
                    color: black;
                    background-color: white;
                    box-shadow: 0px 13px 32px #022E64;
                    border-color: $accent;
                    filter: grayscale(0);
                    transition: all 0.3s ease;

                    .name{
                        color: black;
                    } 
                }

                img{
                    height: 42px;
                }

                .name{
                    font-size: 0.8em;
                    padding-top: 0.5em;

                    @include MQ(L){
                        font-size: 0.9em;
                    }
                } 
            }
        }
    }
}

.comparison-table {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
    
    td{
        border: 1px solid #E0E0E0;
        border-collapse: collapse;
    }
    
    tr{
        th, td{
            padding: 30px;
        }
        td{
            font-weight: 600;
            text-align: center;
            color: #565661;
            padding: 40px;
            
            &:first-child{
                text-align: left;
            }
        }
    }
}